[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "python manage.py runserver"
make = "python manage.py makemigrations"
migrate = "python manage.py migrate"
